html,
body {
  font-family: "Amazon Ember", "Roboto", Arial, Helvetica, sans-serif;
}

.navbar-brand > a:hover {
  text-decoration: none;
}

a.nav-links {
  color: "#ffffff" !important;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.top-spacer {
  margin-top: 1em;
}

.left-spacer {
  margin-left: 1em;
}

.cell-width-sm {
  width: 30%;
}

small {
  font-size: 0.6em;
}

.react-confirm-alert-body {
  margin: 0;
  font-family: "Amazon Ember", "Roboto", Arial, Helvetica, sans-serif !important;
}

.react-confirm-alert-body > h1 {
  margin-top: 0;
  font-size: 1.25em;
}
